<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>

<head>
    <meta charset="UTF-8">
    <title> Home </title>

</head>

<body>

    <div class="container">

        <div>
            <h1>Home</h1>
            </br>
            <h2>
                <a href="{{url_for('login')}}">LoginPage</a>
                <br>
                <br>
                <br>
                <a href="{{url_for('register')}}">RegisterPage</a>
            </h2>
        </div>
    </div>




</body>

</html>