<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>

<head>
    <meta charset="UTF-8">
    <title> Login </title>

</head>

<body>

    <div class="container">

        <div>
            <h1>Login</h1>
            </br>
            <h2>
                <form action="/login" method="POST">

                    <input id="username" name="username" type="username" placeholder="Enter Your Username" class="textbox" /></br>
                    </br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" /></br>
                    </br>

                    <input type="submit" class="btn" value="Sign In"></br>
                    </br>
                    <a href="{{url_for('register')}}">Don't have an account? Sign Up</a>
                </form>
            </h2>
        </div>
    </div>




</body>

</html>